<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="Image/Static/F1-logo.png" />
    <link rel="stylesheet" href="FrontEnd/Tracks/tracks.css">
    <link rel="stylesheet" href="FrontEnd/RaceResults/raceresults.css">
    <title>Kết quả</title>
</head>


<body>
    <header class="header"> 
        <section class="section1">
            <ul class="logotop">
                <li class="li1"><a href="https://www.fia.com" target="_blank"><img src="/Image/Logo/fialogo.png" alt="LogoFIA" class="li1"></a></li>
                <li class="li1"><a href="https://www.formula1.com" target="_blank"><img src="/Image/Logo/formulaf1.png" alt="LogoF1" class="li1"></a></li>
            </ul> 
        </section>
        <section class="section2">
            <ul class="chucnang">
                <li class="truongdua">
                    <a href="/" class="back-home"><img src="/Image/Logo/f1logo2.png" alt="Home"></a>
                </li>
                <li class="thongtin">
                    <a href="#" class="link-thongtin">Thông tin</a>
                    <ul class="sub-thongtin">
                        <li><a href="#" id="tay-dua">Tay đua</a></li>
                        <li><a href="#" id="doi-dua">Đội đua</a></li>  
                    </ul>
                </li>
                <li class="truongdua"><a href="/duong-dua" class="link-thongtin">Trường đua</a></li>
                <li class="truongdua"><a href="#" class="link-thongtin">Lịch thi đấu</a></li>
                <li class="truongdua"><a href="/ket-qua" class="link-thongtin">Kết quả</a></li>
                <li class="truongdua"><a href="#" class="link-thongtin">Xếp hạng</a></li>
            </ul> 
        </section>
    </header>
        <div id="main-content">
            <label for="raceTrack" class="font" id ="raceLabel">Kết quả vòng đua</label>
            <form action="/ket-qua" method="POST" id="raceForm" >
                <select name="race" id="raceSelect" onchange="updateRaceLabel();document.getElementById('raceForm').submit()">
                    <option value="" disabled selected >Chọn tên đường đua</option>
                    <option value="1">BAHRAIN</option>
                    <option value="2">SAUDI ARABIA</option>
                    <option value="3">AUSTRALIA</option>
                    <option value="4">JAPAN</option>
                    <option value="5">CHINA</option>
                    <option value="6">MIAMI</option>
                    <option value="7">EMILIA-ROMAGNA</option>
                    <option value="8">MONACO</option>
                    <option value="9">CANADA</option>
                    <option value="10">SPAIN</option>
                    <option value="11">AUSTRIA</option>
                    <option value="12">GREAT BRITAIN</option>
                    <option value="13">HUNGARY</option>
                    <option value="14">BELGIUM</option>
                    <option value="15">NETHERLANDS</option>
                    <option value="16">ITALY</option>
                    <option value="17">AZERBAIJAN</option>
                    <option value="18">SINGAPORE</option>
                </select>
            </form>
            <% if (raceInfo) { %>
                <h2>Trường đua: <%= raceInfo.COUNTRY %></h2>
                <p>Lịch trình: <%= raceInfo.SCHEDULE %></p>
                <img src="<%= raceInfo.FLAG %>" alt="Flag of <%= raceInfo.country %>" width="50" height="30">
            <% } %>
            <% if (typeof results !== 'undefined' && results.length > 0) { %>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Postition</th>
                            <th>No</th>
                            <th>Name</th>
                            <th>Car</th>
                            <th>Laps</th>
                            <th>Retired</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% results.forEach(result => { %>
                            <tr>
                                <td><%= result.POS %></td>
                                <td><%= result.NO %></td>
                                <td><%= result.NAME %></td>
                                <td><%= result.CAR %></td>
                                <td><%= result.LAPS %></td>
                                <td><%= result.RETIRED %></td>
                                <td><%= result.PTS %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <p>Chưa có kết quả cho cuộc đua này.</p>
            <% } %>
        </div>
        <div id="footer">
            <div style="display: flex;">
                <div id="app-download">
                    <p>DOWNLOAD THE OFFICIAL F1 APP</p>
                    <a href="https://play.google.com/store/apps/details?id=com.softpauer.f1timingapp2014.basic&hl=en_GB&pli=1">
                        <img src="/Image/Static/google-play-badge.png" alt="">
                    </a>
                    <a href="https://apps.apple.com/gb/app/formula-1/id835022598">
                        <img src="/Image/Static/download-on-the-app-store-apple.png" alt="">
                    </a>
                </div>
                <div id="social-link">
                    <a href="https://www.facebook.com/Formula1"><img src="/Image/Static/facebook.png" alt=""></a>
                    <a href="https://x.com/f1"><img src="/Image/Static/x.jpg" alt=""></a>
                    <a href="https://www.instagram.com/f1/"><img src="/Image/Static/instagram.png" alt=""></a>
                    <a href="https://www.youtube.com/F1"><img src="/Image/Static/youtube.png" alt=""></a>
                </div>
            </div>
            <div style="display: flex; margin-top: 0.5vw;">
                <img style="margin-left: 5vw; height: 2vw;" src="/Image/Logo/f1logo2.png" alt="">
                <div id="copy-right">© 2003-2024 Formula One World Championship Limited</div>
            </div>
        </div>
    <script>
        function updateRaceLabel() {
            var raceSelect = document.getElementById("raceSelect");
            var selectedRace = raceSelect.options[raceSelect.selectedIndex].text;
            document.getElementById("raceLabel").innerText = "Kết quả vòng đua tại " + selectedRace;
            localStorage.setItem('selectedRace', selectedRace);
            document.getElementById('raceForm').submit();
        }
        
        window.onload = function() {
            var storedRace = localStorage.getItem('selectedRace');
            if (storedRace) {
                document.getElementById("raceLabel").innerText = "Kết quả vòng đua tại " + storedRace;
            }
        }
    </script>
</body>